<!--Везде я использую индекс 1 в конце переменной если я нахожусь в корневом шаблоне,
2 следующий уровень и так далее-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VUE experiments</title>
    <!-- версия для разработки, отображает полезные предупреждения в консоли -->
    <style>
        img {
            width: 50px;
        }
    </style>

</head>
<body>

<div id="app-card">
    <div  v-show="isCardReady1">
        <h4>
            Добрый день {{user1.firstName}}
        </h4>
        <tag-user-1 :user2="user1">

        </tag-user-1>
    </div>

</div>
<!--тут прописываем шаблон для вынесенного блока-->
<template id="temp-user-2">
    <table v-show="isCardReady2">
        <tr v-for="(val, key) in user2">
            <td>
                {{key}}
            </td>
            <td>
                <img v-if="key === 'avatar' && val" :src="val">
                <img v-else-if="key === 'avatar'" src="./avatars/default.png">
                <span v-else> {{val}}</span>
            </td>
        </tr>
    </table>
</template>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="users.js"></script>

<script>
    const User2 = {
        template: "#temp-user-2",
        props: {
            user2: {
                type: Object,
                required: true
            }
        },
        computed: {
            isCardReady2 () {
                return !!this.user2.firstName
            }
        }
    };

    const app = new Vue({
        el: '#app-card',
        components: {
            'tag-user-1': User2
        },
        data: function () {
            return {
                user1: {},
                isReady: false
            }
        },
        computed: {
            isCardReady1 () {
                return !!this.user1.firstName
            }
        },

        mounted() {
            this.user1 = users0[2]; // users0 - исходный список пользователей
            console.log('load user Petr ->'); // debug
        }
    })
</script>


</body>
</html>